body {
  margin: 0%;
  font-family: 'Times New Roman', Times, serif;

}
a {
  text-decoration: none;
}
li {
  list-style: none;

}
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  padding:0 4%
}

img {
  max-width: 100%;
}

/*--------
header
---------*/

#header {
  height: 60px;
  width: 100%;
  background-color: rgba(50,130,202,0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9;
  color: white;
}


#header h1 {
  font-size: 20px;
  font-weight: 100;
}
.header-logo {
  text-align: center;
  display: block;
}

.header-logo a {
  color: white;
}
.header-left {
  float: left;
  margin-top: -30px;
}

.social-icons{
  display: flex;
}

.social-icons i {
  color: white;
}

.social-icons i:hover {
  color: black;
  transition: all ease 0.5s;
}

.social-icons a {
  margin: 0 20px;
}

.header-right {
  float: right;
  margin-top: -48px;
}

.header-right li{
  float: left;
  margin: auto 20px;
}

.header-right a {
  color: white;
}

.header-right a:hover {
  color: black;
  transition: all ease 0.5s;
}

/*-----
mainvisual
----*/
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/*---
about
----*/
#about ul {
  margin-bottom: 30px;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align: justify;
}

.section-title {
  text-align: center;
  font-size: 45px;
}

/*-----
works
-------*/

#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

/*---
contact
-----*/

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea{
  width: 100%;
  border: solid 1px #c8c8c8;
}

#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: rgb(50,130,202);
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24293e;
}
#contact .button input:hover {
  background: #fff;
  color: black;
}

#footer {
  width: 100%;
  height: 200px;
  position: relative;
}

#footer p{
  text-align: center;
  color: gray;
}




#footer .social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 20px;
  border-radius: 50%;
  
}
#footer .social-icons a:hover {
  background-color: black;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}

#footer .social-icons {
  text-align: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#footer .social-icons i{
  color: black;
}
#footer .social-icons a:hover i {
  color: #FFFFFF;
  transition: all ease 0.5s;
}


.copyright {
  color: gray;
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

/*-------------
sp
----------------*/
@media screen and (max-width: 600px) {


  .wrapper {
    margin-bottom: 70px;
  }
  

  .section-title {
    margin-bottom: 40px;
  }

  /*--
  header
  --*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #header li{
    font-size: 0.8rem;
    margin: auto 8px;
  }
  #header a {
    margin-top: -5px;
  }
  
  /*--
  works
  --*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }
  /*---
  contact
  ---*/
  #contact dl{
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}